.hero {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    @include mobile {
        margin-top: 55px;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
        }

    }

    &__info {
        max-width: 466px;

        @include tablet {
            max-width: 382px;
        }

        &-title {
            margin-bottom: 36px;

            @include mobile {
                text-align: center;
            }
        }

        &-description {
            font-weight: 200;
            margin-bottom: 66px;
        }
    }

    &__buttons {
        display: flex;
        column-gap: 41px;
    }

    &__button-svg {
        background: transparent;
        border: none;
    }

    &__button {
        position: relative;

        @include mobile {
            width: 100%;
            font-size: 14px;
        }

        &:hover {
            &::after {
                right: -115px;
            }
        }

        &::after {
            content: url('../../../images/icons/arrow-small-right.svg');
            position: absolute;
            right: -100px;
            top: -25px;
            transition-duration: 1s;

            @include mobile {
                content: '';
            }
        }
    }
    &__design {
        display: flex;
        justify-content: center;
        position: relative;
        max-height: 421px;

        @include mobile {
            margin-inline: auto;
        }

        &::after {
            content: "";
            border-radius: 100px 100px 100px 240px;
            width: 107%;
            height: 107%;
            background: rgba(0, 0, 0, 0.13);
            z-index: -2;
            @include abs-center;
        }

        &-image {
            @include small-mobile {
                width: 281px;
                height: auto;
            }
        }

    }

}

.vector3 {
    right: -18%;
    bottom: -41%;

    @include mobile {
        right: -34%;
        bottom: -38%;
    }

    @include small-mobile {
        right: -6%;
        bottom: -17%;
        scale: 1.4;
    }
}

.vector1 {
    top: -65%;
    right: 11%;

    @include mobile {
        top: -43%;
        right: 8%;
    }

    @include small-mobile {
        top: -79%;
        right: -2%;
    }
}

.vector2 {
    top: -26%;
    right: -11%;

    @include mobile {
        top: -16%;
        right: 0%;
    }

    @include small-mobile {
        top: -37%;
        right: -19%;
    }
}