:root {
    --dark-color: #302c42;
    --white-color: #fff;
    --dark-color-alternative: #343045;


    --font-family: "Montserrat", sans-serif;

    --button-background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    --button-radius: 40px;
    --trasparent-border: 2px solid transparent;
    --button-color: #343045;

    --input-border: 2px solid #fff;
    --input-radius: 40px;
    --input-padding: 27px 42px;
}